body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
}

.calculator-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    margin-bottom: 15px;
}

button {
    padding: 8px 16px;
    background-color: #ebcd23;
    color: #000000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.result-container {
    margin-top: 10px;
    font-weight: bold;
}
#result-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#result-table th, #result-table td {
    border: 1px solid #000000;
    padding: 8px;
    text-align: left;
}

#result-table th {
    background-color: #000000;
    color: #fff;
}
